table.pvtTable thead {
   /* table-layout: fixed; */
  /* position:relative; */
 /*  top:0; */
    /* width:100%; */
   z-index:100;
   position: -webkit-sticky;
   position: sticky;
}
/*
table.pvtTable thead tr th {
    position: -webkit-sticky;
    position: sticky;
    z-index:2;

}
*/